extends layout

block content
    h1 #{match.team} Messaging
    a.btn.btn-secondary.mr-1(href='/') Back
    a.btn.btn-primary(href='/messaging/request_squad_availability') Request Squad Availability
    br
    br
    br
    if match.day != ""
        h3 Next Match
        table.table.table-bordered
            thead
                tr
                    th Team
                    th Day
                    th Date
                    th Time
                    th Venue
                    th Opposition
            tbody
                tr
                    td= match.team
                    td= match.day
                    td= match.date
                    td= match.time
                    td= match.venue
                    td= match.opposition
        br
        h3 Squad Players
        table.table.table-bordered
            thead
                tr
                    th Team
                    th Player
                    th Availability Requested
            tbody
                each squadplayer in squadplayers
                    tr
                        td= squadplayer.team
                        td #{squadplayer.player}
                        td #{squadplayer.datesent} #{squadplayer.timesent}
    else
        h3 No upcoming matches in the fixture list
